<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Travel Destinations</title>
</head>
<body>
    
    <nav>
        <ul>
            <li><a href="">Explore world</a></li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Location</a>
                <div class="dropdown-content">
                    <a href="#destination1">KASMIR</a>
                    <a href="#destination2">Destination 2</a>
                    <a href="#destination3">Destination 3</a>
                    <a href="#destination4">Destination 4</a>
                </div>
            </li>
            <li><a href="#itinerary">Itinerary</a></li>
            <li><a href="/templates/Inquire.html">Inquire</a></li>
        </ul>
    </nav>
    <div class="banner">
        <img src="./files/bgvid.mp4" type="video/mp4" autoplay muted loop></img>
    
    <div class="title">
            
        <p>Plan your trip with us and travel around the world with the most affordable packages!</p>
        <a href="" class="button">Create your own itinerary!</a>
    </div>
    </div>

    <section id="destination1">
        <h2>Kashmir</h2>
        <p>India</p>
        <a href="/templates/KASHMIR.html" target="_blank"><div class="col-content"></div>
        <img src="/static/KASHMIR.png" alt="Destination 1 Image">
        
    </section>
    <section id="destination2">
        <h2>Destination 2</h2>
        <img src="destination2.jpg" alt="Destination 2 Image">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod lorem eget metus tincidunt, non fermentum leo auctor.</p>
    </section>
    <section id="destination3">
        <h2>Destination 3</h2>
        <img src="destination3.jpg" alt="Destination 3 Image">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod lorem eget metus tincidunt, non fermentum leo auctor.</p>
    </section>
    <section id="destination4">
        <h2>Destination 4</h2>
        <img src="destination4.jpg" alt="Destination 4 Image">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod lorem eget metus tincidunt, non fermentum leo auctor.</p>
    </section>
    <section id="itinerary">
        <h2>Itinerary</h2>
        <!-- Add itinerary content here -->
    </section>
    <section id="inquire">
        <h2>Inquire</h2>
        <!-- Add inquire content here -->
    </section>
</body>
</html>
